body{
    background: #4d4b4b;
}

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(240, 233, 233);
  font-family: 'Segoe UI', sans-serif;
}


h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 20px;
}


label {
  font-weight: bold;
  color: #444;
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}


textarea.Q1C {
  width: 100%;
  height: 100px;
  padding: 12px;
  max-width: 570px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

textarea.Q1C:focus {
  border-color: #0078D7;
  outline: none;
  background-color: #fff;
}

textarea.Q1C + br + br {
  margin-bottom: 20px;
}


button{
    margin-top: 20px;
    width: 100%;
    background: grey;
    border: none;
    color: white;
    cursor: pointer;
    height: 50px;
    /* border-radius: 2 2 2 2; */

     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    }