#form{
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background: #ff00ff;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button{
    margin-top: 20px;
    width: 100%;
    background: #0077cc;
    border: none;
    color: white;
    cursor: pointer;

}

form button :hover{
    background: black;

}