

body{
    background: lightblue;
    /* color:  white; */
}
p{
    border: 2px solid red;
    color: green;
}
ul li{
    color: green;
}
button{
    background: yellow;
    color: black;
    height: 50px;
    width: 150px;
    
}
h2{
    color: black;
}